<div id="wrapper">
  <app-navbar></app-navbar>
  <div  style="margin: 70px auto;width:50%">
    <h1>Event Creation</h1>
    <form (ngSubmit)="saveSchedule()" #mySceduleForm="ngForm">
      <div class="form-group" >
        <label for="groups">Select Group</label>
        <p-multiSelect [id]="'groups'" [name]="'groups'" [options]="groups" [(ngModel)]="selectedGroups" (onChange)="filterEmployees($event)">
          <div [hidden]="groups.valid || groups.pristine" class="alert alert-danger">
            Group is required
          </div>
        </p-multiSelect>
      </div>

      <div class="form-group">
        <label for="employees">Select Employees</label>
        <p-multiSelect [id]="'employees'" [name]="'employees'" [options]="employees" [(ngModel)]="myScedule.employees">
          <div [hidden]="employees.valid || employees.pristine" class="alert alert-danger">
            Employees is required
          </div>
        </p-multiSelect>
      </div>

      <div class="row">
        <div class="col-md-6" style="font-weight: bold;">
          Events
        </div>
        <div class="col-md-6 text-right">
          <button type="button" class="btn btn-success" (click)="createNew()">New</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table" *ngIf="myScedule.events.length">
              <thead>
              <tr>
                <th>Title</th>
                <th>Start</th>
                <th>End</th>
                <th></th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let event of myScedule.events; index as i">
                <td>{{event.location}}</td>
                <td>{{event.start | date:'medium' }}</td>
                <td>{{event.end | date:'medium' }}</td>
                <td><button type="button" pButton icon="fa-edit" (click)="editEvent(i)"></button></td>
                <td><button type="button" pButton icon="fa-close" (click)="deleteEvent(i)"></button></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <button type="submit" class="btn btn-success" [disabled]="!mySceduleForm.form.valid">Save</button>
        </div>
      </div>
    </form>


    <p-dialog header="Event Details" [(visible)]="dialogVisible" [responsive]="true" showEffect="fade" [modal]="false" [contentStyle]="{'overflow':'visible'}"
              [style]="{'overflow':'visible'}" [resizable]="false">
      <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="event">
        <div class="ui-grid-row">
          <div class="ui-grid-col-4"><label for="vin">Title</label></div>
          <div class="ui-grid-col-8">
            <select class="form-control" id="group"
                    required
                    [(ngModel)]="event.location" name="group"

                    #group="ngModel">
              <option *ngFor="let loc of locations" [value]="loc.location_name">{{loc.location_name}}</option>
            </select>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-4"><label for="start">Start</label></div>
          <div class="ui-grid-col-8">
            <p-calendar [(ngModel)]="event.start" dateFormat="yy-mm-dd" [showTime]="true"></p-calendar></div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-4"><label for="end">End</label></div>
          <div class="ui-grid-col-8"><p-calendar [(ngModel)]="event.end" dateFormat="yy-mm-dd" [showTime]="true"></p-calendar></div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-4"><label for="allday">All Day</label></div>
          <!--  <div class="ui-grid-col-8"><p-checkbox [(ngModel)]="event.allDay" binary="checkbox"></p-checkbox></div> -->
        </div>
      </div>
      <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
          <button type="button" pButton icon="fa-close" (click)="cancelEvent()" label="Cancel" [disabled]="!event?.id"></button>
          <button type="button" pButton icon="fa-check" (click)="saveEvent()" label="Save" [disabled]="!event?.start"></button>
        </div>
      </p-footer>
    </p-dialog>

    <p-dialog header="Schedule Creation" [(visible)]="successDialogVisible" [responsive]="true" showEffect="fade" [modal]="true" [contentStyle]="{'overflow':'visible'}"
              [style]="{'overflow':'visible'}" [resizable]="false">
      <div> <i class="fa fa-check-circle fa-2x" style="color:green" aria-hidden="true"></i> Schedule saved successfully</div>
      <br>
      <div class="table-responsive" *ngIf="overlapEvents.length" style="max-height:400; overflow:auto">
        <div> <i class="fa fa-exclamation-triangle fa-2x" style="color:gold" aria-hidden="true"></i> Warning: the following overlap with existing schedule</div>
        <table class="table">
          <thead>
          <tr>
            <th>Employee</th>
            <th>Title</th>
            <th>Start</th>
            <th>End</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let event of overlapEvents; index as i">
            <td>{{event.empName}}</td>
            <td>{{event.location}}</td>
            <td>{{event.start | date:'medium' }}</td>
            <td>{{event.end | date:'medium' }}</td>
            <td><button type="button" pButton icon="fa-edit" (click)="editEvent(i, true)"></button></td>
            <td><button type="button" pButton icon="fa-close" (click)="deleteEvent(i, true)"></button></td>
          </tr>
          </tbody>
        </table>
      </div>

      <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
          <button type="button" pButton icon="fa-close" (click)="closeDialog()" label="Okay"></button>
        </div>
      </p-footer>
    </p-dialog>
    <!--<app-footer></app-footer>-->

  </div>
</div>
