<div id="wrapper" class="container">
  <app-navbar></app-navbar>
  <div style="margin: 70px auto;width:100%">
    <h1>Race Schedule</h1>
    <h5>Click a race to view details</h5>

    <label for="">Select Year</label>
    <p-dropdown id="selectedYear" [style]="{'width':'20%'}" [options]="years" [(ngModel)]="selectedYear" name="selectedYear" filter="filter">
    </p-dropdown>

    <button pButton type="button" (click)="show_default_counts=true" label="View Master Resource Count"  class="ui-button-warning"></button>
    <button pButton type="button" (click)="show_selectedyear_counts=true; getResourceCountByYear()" label="View {{selectedYear}} Resource Count"  class="ui-button-success"></button>

    <p-dataTable *ngIf="show_default_counts" [value]="defaultrcounts" scrollable="true" scrollHeight="500px" selectionMode="single" [(selection)]="selectedResourceCount" (onRowSelect)="onRowSelect($event, 'default')">
      <p-header>Master Resource Counts
        <button type="button" pButton icon="fa fa-window-close" class="ui-button-danger" style="float:right" (click)="show_default_counts=false" label="Close"></button>
        <button type="button" pButton icon="fa-plus" style="float:right" (click)="addResourceCount('default')" label="Add"></button>
      </p-header>
      <p-column field="race_location" header="Race Location" [style]="{'width':'150px'}"></p-column>
      <p-column field="cup_box_trailer" header="Cup Box Trailers" [style]="{'width':'150px'}"></p-column>
      <p-column field="nxs_box_trailer" header="NXS Box Trailers" [style]="{'width':'150px'}"></p-column>
      <p-column field="titan_trailer" header="Titan Trailers" [style]="{'width':'150px'}"></p-column>
      <p-column field="wheel_trailer" header="Tire/Wheel Trailers" [style]="{'width':'150px'}"></p-column>
      <p-column field="coach" header="Coaches" [style]="{'width':'150px'}"></p-column>
      <p-column field="titan_trucks" header="Air Titans" [style]="{'width':'150px'}"></p-column>
    </p-dataTable>

    <p-dataTable *ngIf="show_selectedyear_counts" [value]="rcounts" scrollable="true" scrollHeight="500px" selectionMode="single" [(selection)]="selectedResourceCount" (onRowSelect)="onRowSelect($event, 'selectedYear')">
      <p-header>{{selectedYear}} Resource Counts
        <button type="button" pButton icon="fa fa-window-close" class="ui-button-danger" style="float:right" (click)="show_selectedyear_counts=false" label="Close"></button>
      </p-header>
      <p-column field="race_location" header="Race Location" [style]="{'width':'150px'}"></p-column>
      <p-column field="cup_box_trailer" header="Cup Box Trailers" [style]="{'width':'150px'}"></p-column>
      <p-column field="nxs_box_trailer" header="NXS Box Trailers" [style]="{'width':'150px'}"></p-column>
      <p-column field="titan_trailer" header="Titan Trailers" [style]="{'width':'150px'}"></p-column>
      <p-column field="wheel_trailer" header="Tire/Wheel Trailers" [style]="{'width':'150px'}"></p-column>
      <p-column field="coach" header="Coaches" [style]="{'width':'150px'}"></p-column>
      <p-column field="titan_trucks" header="Air Titans" [style]="{'width':'150px'}"></p-column>
    </p-dataTable>

    <p-dialog header="Race Resource Count" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="false" [contentStyle]="{'overflow':'visible'}"
              [style]="{'overflow':'visible'}" [resizable]="false">
      <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="resourceCount">
        <div class="ui-grid-row">
          <div class="ui-grid-col-4"><label for="race_location">Race Location</label></div>
          <div class="ui-grid-col-8"><input pInputText id="race_location" [(ngModel)]="resourceCount.race_location" /></div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-4"><label for="cupsc">Cup Box Trailers</label></div>
          <div class="ui-grid-col-8"><input pInputText id="cupsc" [(ngModel)]="resourceCount.cup_box_trailer" /></div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-4"><label for="nxsc">NXS Box Trailers</label></div>
          <div class="ui-grid-col-8"><input pInputText id="nxsc" [(ngModel)]="resourceCount.nxs_box_trailer" /></div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-4"><label for="titansc">Titan Trailers</label></div>
          <div class="ui-grid-col-8"><input pInputText id="titansc" [(ngModel)]="resourceCount.titan_trailer" /></div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-4"><label for="wheelsc">Tire/Wheel Trailers</label></div>
          <div class="ui-grid-col-8"><input pInputText id="wheelsc" [(ngModel)]="resourceCount.wheel_trailer" /></div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-4"><label for="coachc">Coaches</label></div>
          <div class="ui-grid-col-8"><input pInputText id="coachc" [(ngModel)]="resourceCount.coach" /></div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-4"><label for="airtitansc">Air Titans</label></div>
          <div class="ui-grid-col-8"><input pInputText id="airtitansc" [(ngModel)]="resourceCount.titan_trucks" /></div>
        </div>
      </div>
      <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
          <button type="button" pButton icon="fa-close" (click)="deleteResourceCount(RCType)" label="Delete"></button>
          <button type="button" pButton icon="fa-check" (click)="saveResourceCount(RCType)" label="Save"></button>
        </div>
      </p-footer>
    </p-dialog>

    <p-dataTable [value]="races" scrollable="true" scrollHeight="500px" selectionMode="single" (onRowClick)="selectRace($event)">
      <p-header>Races</p-header>
      <p-column field="race_location" header="Race Location" [style]="{'width':'150px'}"></p-column>
      <p-column field="total_progress" header="Schedule Completion Status (%)" [style]="{'width':'150px'}">
      </p-column>
    </p-dataTable>

    <div *ngIf="selectedRace" class="table-responsive" style="overflow:auto">
      <h3> <i class="fa fa-flag-checkered fa-2x"></i> {{ selectedRace.race_location}}</h3>
      <div>
        Progress:
        <span><p-progressBar [value]="selectedRace.total_progress"></p-progressBar></span>
        <br>
        <div style="width:100%">
          <div style="width:50%; float:left;">
            <div class="well">
              Important Dates
            <ul class="list-group">
              <li class="list-group-item list-group-item-success">MEC Race: {{selectedRace.mec_date}} </li>
              <li class="list-group-item list-group-item-warning">NXS Race: {{selectedRace.nxs_date}} </li>
              <li class="list-group-item list-group-item-info">CTWS Race: {{selectedRace.ctws_date}}</li>
              <li class="list-group-item">AirGas Bottle Unload: {{selectedRace.airgas_bottle_unload}}</li>
              <li class="list-group-item">Cup Box Unload: {{selectedRace.cup_box_unload}}</li>
              <li class="list-group-item">NXS Box Unload: {{selectedRace.nxs_box_unload}}</li>
              <li class="list-group-item">Wheel Unload: {{selectedRace.wheel_unload}}</li>
              <li class="list-group-item">Titan Setup: {{selectedRace.titan_set_up}}</li>
              <li class="list-group-item">TV Setup: {{selectedRace.tv_set_up}}</li>
              <li class="list-group-item">Saturday Box Arrival: {{selectedRace.sat_box_arrival}}</li>
              <li class="list-group-item">Coaches Park Day: {{selectedRace.coaches_park_day}}</li>
            </ul>
            </div>
          </div>
          <div style="width:50%; float:right;">
            <div class="well">
                Schedule summary: Required vs Scheduled
              <ul class="list-group">
                <li class="list-group-item justify-content-between ">
                  <a (click)="goTo('cup_box_trailer')">Cup Box Trailers</a>
                  <span class="badge badge-default badge-pill">{{selectedRace.cups.length}}</span>
                  <span class="badge badge-default badge-pill">{{selectedRace.event_details.cups.required}}</span>
                  <span class="label label-danger" *ngIf="selectedRace.cups.length < selectedRace.event_details.cups.required">incomplete</span>
                  <span class="label label-success" *ngIf="selectedRace.cups.length >= selectedRace.event_details.cups.required">complete</span>
                </li>
                <li class="list-group-item justify-content-between">
                  <a (click)="goTo('nxs_box_trailer')">NXS Box Trailers</a>
                  <span class="badge badge-default badge-pill">{{selectedRace.nxs.length}}</span>
                  <span class="badge badge-default badge-pill">{{selectedRace.event_details.nxs.required}}</span>
                  <span class="label label-danger" *ngIf="selectedRace.nxs.length < selectedRace.event_details.nxs.required">incomplete</span>
                  <span class="label label-success" *ngIf="selectedRace.nxs.length >= selectedRace.event_details.nxs.required">complete</span>
                </li>
                <li class="list-group-item justify-content-between">
                  <a (click)="goTo('titan_trailer')">Titan Trailers</a>
                  <span class="badge badge-default badge-pill">{{selectedRace.titans.length}}</span>
                  <span class="badge badge-default badge-pill">{{selectedRace.event_details.titans.required}}</span>
                  <span class="label label-danger" *ngIf="selectedRace.titans.length < selectedRace.event_details.titans.required">incomplete</span>
                  <span class="label label-success" *ngIf="selectedRace.titans.length >= selectedRace.event_details.titans.required">complete</span>
                </li>
                <li class="list-group-item justify-content-between">
                  <a (click)="goTo('tv_trailer')">Tv Trailers</a>
                  <span class="badge badge-default badge-pill">{{selectedRace.tvs.length}}</span>
                  <span class="badge badge-default badge-pill">{{selectedRace.event_details.tvs.required}}</span>
                  <span class="label label-danger" *ngIf="selectedRace.tvs.length < selectedRace.event_details.tvs.required">incomplete</span>
                  <span class="label label-success" *ngIf="selectedRace.tvs.length >= selectedRace.event_details.tvs.required">complete</span>
                </li>
                <li class="list-group-item justify-content-between">
                  <a (click)="goTo('wheel_trailer')">Tire/Wheel Trailers</a>
                  <span class="badge badge-default badge-pill">{{selectedRace.wheels.length}}</span>
                  <span class="badge badge-default badge-pill">{{selectedRace.event_details.wheels.required}}</span>
                  <span class="label label-danger" *ngIf="selectedRace.wheels.length < selectedRace.event_details.wheels.required">incomplete</span>
                  <span class="label label-success" *ngIf="selectedRace.wheels.length >= selectedRace.event_details.wheels.required">complete</span>
                </li>
                <li class="list-group-item justify-content-between">
                  <a (click)="goTo('coach')">Coaches</a>
                  <span class="badge badge-default badge-pill">{{selectedRace.coaches.length}}</span>
                  <span class="badge badge-default badge-pill">{{selectedRace.event_details.coaches.required}}</span>
                  <span class="label label-danger" *ngIf="selectedRace.coaches.length < selectedRace.event_details.coaches.required">incomplete</span>
                  <span class="label label-success" *ngIf="selectedRace.coaches.length >= selectedRace.event_details.coaches.required">complete</span>
                </li>
                <li class="list-group-item justify-content-between">
                  <a (click)="goTo('air_titan_duty')">Air Titan Duty</a>
                </li>
                <li class="list-group-item justify-content-between">
                  <a (click)="goTo('unassigned_employees')">Unassigned Employees</a>
                </li>
                <li class="list-group-item justify-content-between">
                  <a (click)="goTo('hotels')">Hotels</a>
                </li>
              </ul>
              <br><br><br><br><br><br>
            </div>

          </div>
        </div>
        <div style="clear: both;"></div>

      <p-dialog header="Add Driver" [(visible)]="displayDriverDialog" [responsive]="true" showEffect="fade" [modal]="false" [contentStyle]="{'overflow':'visible'}"
              [style]="{'overflow':'visible'}" [resizable]="false">
      <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="newEvent">
        <div class="ui-grid-col-4"><label for="group">Group: </label></div>
        <div class="ui-grid-col-8">
          <select class="form-control" id="group" required [(ngModel)]="newEvent.employee_race_group" name="group">
            <option *ngFor="let group of groups" [value]="group.value">{{group.label}}</option>
          </select>
        </div>
        <div class="ui-grid-col-4"><label for="emp">Employee: </label></div>
        <div class="ui-grid-col-8">
          <select class="form-control" id="emp" required [(ngModel)]="newEvent.employee" name="emp">
            <option *ngFor="let emp of availableEmployees" [value]="emp.value">{{emp.label}}</option>
          </select>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-4"><label for="start">Start: </label></div>
          <div class="ui-grid-col-8"><p-calendar [(ngModel)]="newEvent.start" dateFormat="yy-mm-dd" [showTime]="true"></p-calendar></div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-4"><label for="end">End: </label></div>
          <div class="ui-grid-col-8"><p-calendar [(ngModel)]="newEvent.end" dateFormat="yy-mm-dd" [showTime]="true"></p-calendar></div>
        </div>
      </div>
      <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
          <button type="button" pButton icon="fa-check" (click)="saveEvent(selectedGroup)" label="Save"></button>
        </div>
      </p-footer>
    </p-dialog>

      <div id="cup_box_trailer" class="text-left"><h4><i class="fa fa-truck fa-2x"></i> Cup Box Trailers
        <i class = "fa fa-check-circle" style="color:green" aria-hidden="true" *ngIf="selectedRace.cups.length >= selectedRace.event_details.cups.required"></i>
        <i class="fa fa-exclamation-circle" style="color:red" aria-hidden="true" *ngIf="selectedRace.cups.length < selectedRace.event_details.cups.required"></i>
      </h4>
      </div>

      <p-dataTable [value]="selectedRace.cups" [editable]="true">
        <p-header>Drivers <button pButton icon="fa-plus" pButton type="button" (click)="showDriverDialog(selectedRace.event_details.cups.group_id)" label="Add Driver" style="float:right"></button></p-header>
        <p-column field="dName" header="Driver"></p-column>
        <p-column field="vehicle" header="Tractor" [editable]="true">
          <ng-template let-col let-cup="rowData" pTemplate="editor">
            <p-dropdown [(ngModel)]="cup['vehicle']" [options]="vehicles" (onChange)="changeVehicle($event, cup)" [autoWidth]="false" [style]="{'width':'100%'}" required="true"  appendTo="body" filter="filter"></p-dropdown>
          </ng-template>
        </p-column>
        <p-column field="tName" header="Trailer" [editable]="true">
          <ng-template let-col let-cup="rowData" pTemplate="editor">
            <p-dropdown [(ngModel)]="cup['tName']" (onChange)="changeTrailer($event, cup)" [options]="trailers" [autoWidth]="false" [style]="{'width':'100%'}" required="true"  appendTo="body"></p-dropdown>
          </ng-template>
        </p-column>
        <p-column field="gName" header="Group" [editable]="true">
          <ng-template let-col let-cup="rowData" pTemplate="editor">
            <p-dropdown [(ngModel)]="cup['gName']" (onChange)="changeGroup($event, cup, 'cups')" [options]="groups" [autoWidth]="false" [style]="{'width':'100%'}" required="true"  appendTo="body"></p-dropdown>
          </ng-template>
        </p-column>
        <p-column styleClass="col-button">
          <ng-template let-col let-emp="rowData" pTemplate="body">
            <button type="button" pButton (click)="removeRaceEmployee(emp, 'cups')" icon="fa fa-trash"></button>
          </ng-template>
        </p-column>
      </p-dataTable>
      <!--  <table class="table table-striped">
         <thead>
         <tr class="info">
           <th>Driver</th>
           <th>Tractor</th>
           <th>Trailer</th>
         </tr>
         </thead>
         <tbody>
         <tr *ngFor="let driver of selectedRace.event_details.cups.drivers.names; index as i">
           <td>{{ driver }}</td>
           <td>{{ selectedRace.event_details.cups.vehicles.names[i] }}</td>
           <td>{{ selectedRace.event_details.cups.trailers.names[i] }}</td>
         </tr>
         </tbody>
       </table> -->

      <div id="nxs_box_trailer" class="text-left"><h4><i class="fa fa-truck fa-2x"></i> NXS Box Trailers
        <i class = "fa fa-check-circle" style="color:green" aria-hidden="true" *ngIf="selectedRace.nxs.length >= selectedRace.event_details.nxs.required"></i>
        <i class="fa fa-exclamation-circle" style="color:red" aria-hidden="true" *ngIf="selectedRace.nxs.length < selectedRace.event_details.nxs.required"></i>
      </h4>
      </div>
      <p-dataTable [value]="selectedRace.nxs" [editable]="true">
        <p-header>Drivers <button pButton icon="fa-plus" pButton type="button" (click)="showDriverDialog(selectedRace.event_details.nxs.group_id)" label="Add Driver" style="float:right"></button></p-header>
        <p-column field="dName" header="Driver"></p-column>
        <p-column field="vehicle" header="Tractor" [editable]="true">
          <ng-template let-col let-cup="rowData" pTemplate="editor">
            <p-dropdown [(ngModel)]="cup['vehicle']" [options]="vehicles" (onChange)="changeVehicle($event, cup)" [autoWidth]="false" [style]="{'width':'100%'}" required="true"  appendTo="body"></p-dropdown>
          </ng-template>
        </p-column>
        <p-column field="tName" header="Trailer" [editable]="true">
          <ng-template let-col let-cup="rowData" pTemplate="editor">
            <p-dropdown [(ngModel)]="cup['tName']" (onChange)="changeTrailer($event, cup)" [options]="trailers" [autoWidth]="false" [style]="{'width':'100%'}" required="true"  appendTo="body"></p-dropdown>
          </ng-template>
        </p-column>
        <p-column field="gName" header="Group" [editable]="true">
          <ng-template let-col let-cup="rowData" pTemplate="editor">
            <p-dropdown [(ngModel)]="cup['gName']" (onChange)="changeGroup($event, cup, 'nxs')" [options]="groups" [autoWidth]="false" [style]="{'width':'100%'}" required="true"  appendTo="body"></p-dropdown>
          </ng-template>
        </p-column>
        <p-column styleClass="col-button">
          <ng-template let-col let-emp="rowData" pTemplate="body">
            <button type="button" pButton (click)="removeRaceEmployee(emp, 'nxs')" icon="fa fa-trash"></button>
          </ng-template>
        </p-column>
      </p-dataTable>

      <div id="titan_trailer" class="text-left"><h4><i class="fa fa-truck fa-2x"></i> Titan Trailers
        <i class = "fa fa-check-circle" style="color:green" aria-hidden="true" *ngIf="selectedRace.titans.length >= selectedRace.event_details.titans.required"></i>
        <i class="fa fa-exclamation-circle" style="color:red" aria-hidden="true" *ngIf="selectedRace.titans.length < selectedRace.event_details.titans.required"></i>
      </h4>
      </div>
      <p-dataTable [value]="selectedRace.titans" [editable]="true">
        <p-header>Drivers <button pButton icon="fa-plus" pButton type="button" (click)="showDriverDialog(selectedRace.event_details.titans.group_id)" label="Add Driver" style="float:right"></button></p-header>
        <p-column field="dName" header="Driver"></p-column>
        <p-column field="vehicle" header="Tractor" [editable]="true">
          <ng-template let-col let-cup="rowData" pTemplate="editor">
            <p-dropdown [(ngModel)]="cup['vehicle']" [options]="vehicles" (onChange)="changeVehicle($event, cup)" [autoWidth]="false" [style]="{'width':'100%'}" required="true"  appendTo="body"></p-dropdown>
          </ng-template>
        </p-column>
        <p-column field="tName" header="Trailer" [editable]="true">
          <ng-template let-col let-cup="rowData" pTemplate="editor">
            <p-dropdown [(ngModel)]="cup['tName']" (onChange)="changeTrailer($event, cup)" [options]="trailers" [autoWidth]="false" [style]="{'width':'100%'}" required="true"  appendTo="body"></p-dropdown>
          </ng-template>
        </p-column>
        <p-column field="gName" header="Group" [editable]="true">
          <ng-template let-col let-cup="rowData" pTemplate="editor">
            <p-dropdown [(ngModel)]="cup['gName']" (onChange)="changeGroup($event, cup, 'titans')" [options]="groups" [autoWidth]="false" [style]="{'width':'100%'}" required="true"  appendTo="body"></p-dropdown>
          </ng-template>
        </p-column>
        <p-column styleClass="col-button">
          <ng-template let-col let-emp="rowData" pTemplate="body">
            <button type="button" pButton (click)="removeRaceEmployee(emp, 'titans')" icon="fa fa-trash"></button>
          </ng-template>
        </p-column>
      </p-dataTable>

      <div id="tv_trailer" class="text-left"><h4><i class="fa fa-truck fa-2x"></i> TV Trailers
        <i class = "fa fa-check-circle" style="color:green" aria-hidden="true" *ngIf="selectedRace.tvs.length >= selectedRace.event_details.tvs.required"></i>
        <i class="fa fa-exclamation-circle" style="color:red" aria-hidden="true" *ngIf="selectedRace.tvs.length < selectedRace.event_details.tvs.required"></i>
      </h4>
      </div>
      <p-dataTable [value]="selectedRace.tvs" [editable]="true">
        <p-header>Drivers <button pButton icon="fa-plus" pButton type="button" (click)="showDriverDialog(selectedRace.event_details.tvs.group_id)" label="Add Driver" style="float:right"></button></p-header>
        <p-column field="dName" header="Driver"></p-column>
        <p-column field="vehicle" header="Tractor" [editable]="true">
          <ng-template let-col let-cup="rowData" pTemplate="editor">
            <p-dropdown [(ngModel)]="cup['vehicle']" [options]="vehicles" (onChange)="changeVehicle($event, cup)" [autoWidth]="false" [style]="{'width':'100%'}" required="true"  appendTo="body"></p-dropdown>
          </ng-template>
        </p-column>
        <p-column field="tName" header="Trailer" [editable]="true">
          <ng-template let-col let-cup="rowData" pTemplate="editor">
            <p-dropdown [(ngModel)]="cup['tName']" (onChange)="changeTrailer($event, cup)" [options]="trailers" [autoWidth]="false" [style]="{'width':'100%'}" required="true"  appendTo="body"></p-dropdown>
          </ng-template>
        </p-column>
        <p-column field="gName" header="Group" [editable]="true">
          <ng-template let-col let-cup="rowData" pTemplate="editor">
            <p-dropdown [(ngModel)]="cup['gName']" (onChange)="changeGroup($event, cup, 'tvs')" [options]="groups" [autoWidth]="false" [style]="{'width':'100%'}" required="true"  appendTo="body"></p-dropdown>
          </ng-template>
        </p-column>
        <p-column styleClass="col-button">
          <ng-template let-col let-emp="rowData" pTemplate="body">
            <button type="button" pButton (click)="removeRaceEmployee(emp, 'tvs')" icon="fa fa-trash"></button>
          </ng-template>
        </p-column>
      </p-dataTable>

      <div id="wheel_trailer" class="text-left"><h4> <i class="fa fa-truck fa-2x"></i> Tire/Wheel Trailers
        <i class = "fa fa-check-circle" style="color:green" aria-hidden="true" *ngIf="selectedRace.wheels.length >= selectedRace.event_details.wheels.required"></i>
        <i class="fa fa-exclamation-circle" style="color:red" aria-hidden="true" *ngIf="selectedRace.wheels.length < selectedRace.event_details.wheels.required"></i>
      </h4>
      </div>
      <p-dataTable [value]="selectedRace.wheels" [editable]="true">
        <p-header>Drivers <button pButton icon="fa-plus" pButton type="button" (click)="showDriverDialog(selectedRace.event_details.wheels.group_id)" label="Add Driver" style="float:right"></button></p-header>
        <p-column field="dName" header="Driver"></p-column>
        <p-column field="vehicle" header="Tractor" [editable]="true">
          <ng-template let-col let-cup="rowData" pTemplate="editor">
            <p-dropdown [(ngModel)]="cup['vehicle']" [options]="vehicles" (onChange)="changeVehicle($event, cup)" [autoWidth]="false" [style]="{'width':'100%'}" required="true"  appendTo="body"></p-dropdown>
          </ng-template>
        </p-column>
        <p-column field="tName" header="Trailer" [editable]="true">
          <ng-template let-col let-cup="rowData" pTemplate="editor">
            <p-dropdown [(ngModel)]="cup['tName']" (onChange)="changeTrailer($event, cup)" [options]="trailers" [autoWidth]="false" [style]="{'width':'100%'}" required="true"  appendTo="body"></p-dropdown>
          </ng-template>
        </p-column>
        <p-column field="gName" header="Group" [editable]="true">
          <ng-template let-col let-cup="rowData" pTemplate="editor">
            <p-dropdown [(ngModel)]="cup['gName']" (onChange)="changeGroup($event, cup, 'wheels')" [options]="groups" [autoWidth]="false" [style]="{'width':'100%'}" required="true"  appendTo="body"></p-dropdown>
          </ng-template>
        </p-column>
        <p-column styleClass="col-button">
          <ng-template let-col let-emp="rowData" pTemplate="body">
            <button type="button" pButton (click)="removeRaceEmployee(emp, 'wheels')" icon="fa fa-trash"></button>
          </ng-template>
        </p-column>
      </p-dataTable>

      <div id="coach" class="text-left"><h4><i class="fa fa-bus fa-2x"></i> Coaches
        <i class = "fa fa-check-circle" style="color:green" aria-hidden="true" *ngIf="selectedRace.coaches.length >= selectedRace.event_details.coaches.required"></i>
        <i class="fa fa-exclamation-circle" style="color:red" aria-hidden="true" *ngIf="selectedRace.coaches.length < selectedRace.event_details.coaches.required"></i>
      </h4>
      </div>
      <p-dataTable [value]="selectedRace.coaches" [editable]="true">
        <p-header>Drivers <button pButton icon="fa-plus" pButton type="button" (click)="showDriverDialog(selectedRace.event_details.coaches.group_id)" label="Add Driver" style="float:right"></button></p-header>
        <p-column field="dName" header="Driver"></p-column>
        <p-column field="vehicle" header="Coach" [editable]="true">
          <ng-template let-col let-cup="rowData" pTemplate="editor">
            <p-dropdown [(ngModel)]="cup['vehicle']" [options]="coaches" (onChange)="changeVehicle($event, cup)" [autoWidth]="false" [style]="{'width':'100%'}" required="true"  appendTo="body"></p-dropdown>
          </ng-template>
        </p-column>
        <p-column field="gName" header="Group" [editable]="true">
          <ng-template let-col let-cup="rowData" pTemplate="editor">
            <p-dropdown [(ngModel)]="cup['gName']" (onChange)="changeGroup($event, cup, 'coaches')" [options]="groups" [autoWidth]="false" [style]="{'width':'100%'}" required="true"  appendTo="body"></p-dropdown>
          </ng-template>
        </p-column>
        <p-column styleClass="col-button">
          <ng-template let-col let-emp="rowData" pTemplate="body">
            <button type="button" pButton (click)="removeRaceEmployee(emp, 'coaches')" icon="fa fa-trash"></button>
          </ng-template>
        </p-column>
      </p-dataTable>

      <div id="air_titan_duty" class="text-left"><h4><i class="fa fa-truck fa-2x"></i> Air Titan Duty</h4></div>
            <label for="">Add Employees</label>
           <table>
             <tr>
               <td width="90%">
                 <p-multiSelect [id]="'selectedEmp'" [name]="'selectedEmp'"  [options]="employeesForDuty" [(ngModel)]="selectedEmps" name="selectedEmps">
                 </p-multiSelect>
               </td>
               <td>
                 <button type="submit" style="float:right" class="btn btn-success" (click)="saveDutyEmps(1)">Add</button>
               </td>
             </tr>
           </table>
        <p-dataTable [value]="airTitanDutyEmployees">
          <p-column field="name" header="Employee"></p-column>
          <p-column styleClass="col-button">
            <ng-template let-col let-emp="rowData" pTemplate="body">
              <button type="button" pButton (click)="removeEmployee(emp['id'], 1)" icon="fa fa-trash"></button>
            </ng-template>
          </p-column>
        </p-dataTable>

        <div id="hotels" class="text-left"><h4><i class="fa fa-bed fa-2x"></i> Hotels </h4></div>
        <app-scheduler
          editable="true"
          droppable="true"
          defaultView="timelineMonth"
          [events]="events"
          [resources]="resources"
          [defaultDate]="defaultDate"
          slotLabelFormat= "DD MMM, HH:mm"
          resourceAreaWidth="250"
          titleFormat="YYYY-MM-DD dddd"
          nowIndicator="true"
          [header]="headerConfig"
          [resourceColumns]="resourceCol"
          (onEventDrop)="handleEventDrop($event)" (onDayClick)="handleDayClick($event)" (onEventResize)="handleEventDrop($event)" (onEventReceive)="handleEventDrop($event)" (onEventClick)="handleEventClick($event)"
        ></app-scheduler>
      <div id="unassigned_employees" class="text-left"><h4><i class="fa fa-user fa-2x"></i> Unassigned Employees</h4></div>
      <p-dataTable [value]="availableEmployees" selectionMode="single" (onRowClick)="assignEmp($event)">
        <p-header>Employees <button pButton icon="fa-plus" pButton type="button" (click)="showDriverDialog(selectedRace.event_details.cups.group_id)" label="Assign Employee" style="float:right"></button></p-header>
        <p-column field="label" [style]= "{'width':'100px'}"></p-column>
      </p-dataTable>

    </div>
  <!--<app-footer></app-footer>-->
</div>
